div p{
    font-size: large;
}
.profilePicture{
    background-image: url(../images/IMG_2978.JPG);
}
.bio-container {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.bio-section{
    display: inline-flexbox;
}
.prof{
    align-items: center;
    justify-content: center;
}