div p{
    font-size: large;
}
.profilePicture{
    background-image: url(../images/IMG_2978.JPG);
}
.bio-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 80px;
    margin-top: -20px;
}
.bio-section{
    display: inline-flexbox;
}