div p{
    font-size: large;
}
.bio-container{
    margin-left: 60px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 90%;
    margin-left: 5%;
    margin-right:5%;
}
.prof{
    margin-right: 50px;
}