*{
    background-color: grey;
}
.project1{
    background-image: url(../../images/homePage.PNG);
    background-size: cover;
    width: 100%;
    height: 500px;
    padding-bottom: 5%;
}
.project2{
    background-image: url(../../images/proj2-1.png);
    background-size: cover;
    width: 100%;
    height: 800px;
    padding-bottom: 5%;
}
.project3{
    background-image: url(../../images/betterteam-free-job-posting-sites-5877x3918-20210222.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    padding-bottom: 5%;
}
