*{
    background-color: grey;
}
.apps{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right:5%;

}

.apps div {
    margin: 2%;
    margin-bottom: 5%;
}

.apps a {
    color:black;
    font-size:20px;
    text-decoration: none;
}

.apps p {
    margin-top: 15px;
}

.apps a:hover {
    color: rgb(36, 92, 196);
}

.apps img {
    border-radius: 20px;
}

.apps img:hover {
    filter: saturate(150%);
    box-shadow: 0 6px 15px 0 rgb(36, 92, 196)
}

